#page-title{
padding: 10px ;
margin-left: 100px;
font-size: 30px;
}
#logo-subheader{
    display: inline;
}
#page-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h1{
    display: inline;
    font-family: 'Satisfy', cursive;
}
nav{
    display: block;
    float: right;
} 
header{
    display: flex;
    justify-content: space-evenly;
    margin: 25;
}

h2 {
display:inline;
margin-left: 100px;

}

#hero-image{
margin: 100px;

}

p{
margin: 20px 100px 20px 100px;
font-size: 18px;
color: darkgray
}
.checkbox{
    display: flex;
    flex-direction: row-reverse;
}

#checklist{
display:flex;
flex-direction: row;
background-image: url(https://github.com/codefellows/seattle-code-201n30/blob/main/class-10/lab-a/lab-assets/list-bg.png?raw=true);
background-repeat: no-repeat;
margin: 100px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 80px;
    text-align: left;
    font-family: 'Shantell Sans', cursive;
}
h3{
    display: inline;
}
button{
    background-color: indianred;
    padding: 15px;
    color: white;
}
#footer-text{
    display: inline-block;
}
input{
    display: inline;
}
#text{
    display: flex;
    flex-direction: row;
}
footer{
    text-align: center;
}


